
    <div class="page">

        <div class="header">
          <app-header></app-header>
        </div>
  
        <div class="page-content d-flex align-items-stretch"> 
          <app-menu-left></app-menu-left>
    
  
  
  
          <div class="content-inner">
            <router-outlet></router-outlet>

            <!-- Page Header-->
            <header class="page-header d-none">
              <div class="container-fluid">
                <h2 class="no-margin-bottom">Dashboard</h2>
              </div>
            </header>
    
            <!-- Dashboard Counts Section -->
            <section class="dashboard-counts no-padding-bottom d-none">
              <div class="container-fluid">
                <div class="row bg-white has-shadow">
                  <!-- Item -->
                  <div class="col-xl-3 col-sm-6">
                    <div class="item d-flex align-items-center">
                      <div class="icon bg-violet"><i class="icon-user"></i></div>
                      <div class="title"><span>New<br>Clients</span>
                        <div class="progress">
                          <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                        </div>
                      </div>
                      <div class="number"><strong>25</strong></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    
    
            <!--Footer-->
            <!-- <app-footer-admin class="d-none"></app-footer-admin> -->
          </div>
        </div>
      </div>
    
    